rh-secondary-nav {
  --rh-secondary-nav-background: #F0F0F0;
  --rh-secondary-nav-font-color: #151515;
  --rh-secondary-nav-top-level-link-color: #151515;
  --rh-secondary-nav-top-level-link-hover-color: #4d4d4d;
  --rh-secondary-nav-link-color: #0066CC;
  --rh-secondary-nav-link-hover-color: #004080;
  --rh-secondary-nav-brand-color: #e00;
  --rh-secondary-nav-subnav-background: #FFFFFF;
  --rh-secondary-nav-min-height: 74px;
  --rh-secondary-nav-logo-width: 11rem;
  --rh-secondary-nav-logo-font-size: 16px;

  --rh-font-size: 16px;
  --rh-line-height: 1.35rem;

  display: block;
  height: var(--rh-secondary-nav-min-height);
  background-color: var(--rh-secondary-nav-background);
}

rh-secondary-nav * {
  box-sizing: border-box;
}

rh-secondary-nav nav,
rh-secondary-nav-container,
rh-secondary-nav-dropdown {
  height: 100%;
}

rh-secondary-nav-container {
  display: grid;
  grid-template-areas: 'logo menu';
  grid-template-columns: 1fr max-content;
  padding: 0 1rem;
  gap: 1rem;
  height: 100%;
}

@media screen and (min-width: 768px) {
  rh-secondary-nav-container {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 992px) {
  rh-secondary-nav-container {
    grid-template-areas: 'logo nav cta';
    grid-template-columns: max-content 1fr max-content;
  }
}

rh-secondary-nav-container > [slot] {
  height: 100%;
}

rh-secondary-nav-container > [slot="logo"] {
  grid-area: logo;
  display: flex;
  align-items: center;
  max-width: var(--rh-secondary-nav-logo-width, 10rem);
  text-decoration: none;
  color: var(--rh-secondary-nav-font-color);
  font-size: var(--rh-secondary-nav-logo-font-size, 16px);
  letter-spacing: 0.18px;
  line-height: var(--rh-line-height, 1.25rem);
  font-weight: 500;
}

rh-secondary-nav-container > [slot="nav"],
rh-secondary-nav-container > [slot="cta"] {
  display: none;
}

rh-secondary-nav-container > ul.expand, pfe-cta.expand {
  grid-area: unset;
  display: block;
}

@media screen and (min-width: 992px) {
  rh-secondary-nav-container > [slot="nav"] {
    grid-area: nav;
    display: flex;
    height: 100%;
    align-items: center;
  }

  rh-secondary-nav-container > [slot="cta"] {
    flex-direction:row-reverse;
    display: flex;
    align-items: center;
  }
}

rh-secondary-nav-container a {
  text-decoration: none;
  color: var(--rh-secondary-nav-link-color);
}

rh-secondary-nav-container a:hover {
  text-decoration: underline;
  color: var( --rh-secondary-nav-link-hover-color);
}

rh-secondary-nav-container > a:hover,
rh-secondary-nav-dropdown > a:hover {
  text-decoration: none;
  color: var(--rh-secondary-nav-logo-hover-color);
}

rh-secondary-nav-container > [slot="nav"] > li > a,
rh-secondary-nav-dropdown > a {
  display: flex;
  height: 100%;
  align-items: center;
}

rh-secondary-nav-container > [slot="nav"] {
  margin: 0px;
  padding: 0rem;
  list-style: none;
}

rh-secondary-nav-container > [slot="nav"]> li {
  height: 100%;
}

rh-secondary-nav-container > [slot="nav"] > li > a,
rh-secondary-nav-dropdown > a {
  color: var(--rh-secondary-nav-top-level-link-color);
  line-height: 1em;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
}

rh-secondary-nav-container > [slot="nav"] > li > a:hover,
rh-secondary-nav-container > [slot="nav"] > li > a:focus,
rh-secondary-nav-dropdown > a:hover,
rh-secondary-nav-dropdown > a:focus {
  border-top-color: var(--rh-secondary-nav-link-color);
}

rh-secondary-nav-container > [slot="nav"] > li > a:active,
rh-secondary-nav-dropdown > a:active {
  border-top-color: var(--rh-secondary-nav-brand-color);
  background: var(--rh-secondary-nav-subnav-background);
}

rh-secondary-nav-menu:not([visible]) {
  display: none;
}

rh-secondary-nav-menu {
  padding: 1rem;
  color: var(--rh-secondary-nav-font-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13.75rem,1fr));
  grid-template-rows: auto;
  grid-gap: 2rem;
}

@media screen and (min-width: 768px) {
  rh-secondary-nav-container > [slot="nav"] {
    position: static;
  }

  rh-secondary-nav-container > [slot="nav"] > li > a,
  rh-secondary-nav-dropdown > a {
    display: flex;
    align-items: center;
    height: 100%;
    border-top: 0.25rem solid transparent;
    font-size: 1rem;
    transition: border-top-color 250ms ease-out;
  }

  rh-secondary-nav-container > [slot="nav"] > li > a:hover,
  rh-secondary-nav-container > [slot="nav"] > li > a:focus,
  rh-secondary-nav-dropdown > a:hover,
  rh-secondary-nav-dropdown > a:focus {
    border-top-color: var(--rh-secondary-nav-link-color);
  }

  rh-secondary-nav-container > [slot="nav"] > li > a:active,
  rh-secondary-nav-dropdown > a:active  {
    border-top-color: var(--rh-secondary-nav-brand-color);
    background: var(--rh-secondary-nav-subnav-background);
  }

  rh-secondary-nav-menu:is([visible]) {
    position: absolute;
    left: 0;
    right: 0;
    top: var(--rh-secondary-nav-min-height);
    padding: 2rem;
    background: var(--rh-secondary-nav-subnav-background);
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    z-index: 1001;
  }
}
