button {
  grid-area: menu;
  border: none;
  display: flex;
  height: 100%;
  align-items: center;
  font-family: var(--pfe-theme--font-family);
  font-size: 1rem;
  padding: 1rem;
  border-top: 0.25rem solid transparent;
  transition: border-top-color 250ms ease-out;

}

button:after {
  content: "";
  display: block;
  margin-left: 1rem;
  width: 0.25rem;
  height: 0.25rem;
  border-right: 0.15rem solid var(--rh-secondary-nav-font-color);
  border-bottom: 0.15rem solid var(--rh-secondary-nav-font-color);
  transform: rotate(45deg) translate(-0.3rem, 0.15rem);
}

button:hover {
  border-top-color: var(--rh-secondary-nav-link-color);
}

button[aria-expanded="true"],
button:active {
  background: var(--rh-secondary-nav-subnav-background);
  border-top-color: var(--rh-secondary-nav-brand-color);
}

button[aria-expanded="true"]:after {
  transform: rotate(-135deg) translate(0.15rem, -0.3rem);
}

button:hover,
button:active {
  background: var(--rh-secondary-nav-subnav-background);
}

@media screen and (min-width: 992px) {
  button {
    display: none;
  }
}
