rh-secondary-nav {
  --rh-secondary-nav-background: #F0F0F0;
  --rh-secondary-nav-font-color: #151515;
  --rh-secondary-nav-top-level-link-color: #151515;
  --rh-secondary-nav-top-level-expanded-link-color: #151515;
  --rh-secondary-nav-top-level-link-hover-color: #151515;
  --rh-secondary-nav-link-color: #0066CC;
  --rh-secondary-nav-link-hover-color: #004080;
  --rh-secondary-nav-border-color: transparent;
  --rh-secondary-nav-brand-color: #e00;
  --rh-secondary-nav-subnav-background: #FFFFFF;
  --rh-secondary-nav-divider-color: #d2d2d2;
  --rh-secondary-nav-box-shadow: 0px 2px 4px #d2d2d2;
  --rh-secondary-nav-min-height: 4.265rem;
  --rh-secondary-nav-logo-width: 11rem;
  --rh-secondary-nav-logo-font-size: 1rem;

  display: block;
  position: sticky;
  top: 0;
  height: var(--rh-secondary-nav-min-height);
  background-color: var(--rh-secondary-nav-background);
  box-shadow: var(--rh-secondary-nav-box-shadow);
  border-bottom: 1px solid var(--rh-secondary-nav-border-color);
}

rh-secondary-nav[variant="dark"] {
  --rh-secondary-nav-background: #3C3F42;
  --rh-secondary-nav-font-color: #FFFFFF;
  --rh-secondary-nav-top-level-link-color: #FFFFFF;
  --rh-secondary-nav-top-level-link-hover-color: #151515;
  --rh-secondary-nav-border-color: #6A6E73;
  box-shadow: none;
  border-bottom-color: var(--rh-secondary-nav-border-color);
}

rh-secondary-nav nav {
  height: 100%;
}

rh-secondary-nav-container {
  display: grid;
  grid-template-areas: 'logo menu' 'nav nav' 'cta cta';
  grid-template-columns: 1fr max-content;
  grid-template-rows: var(--rh-secondary-nav-min-height) max-content max-content;
  column-gap: 1rem;
  row-gap: 0;
  height: 100%;
}

rh-secondary-nav-container[expanded] > ul {
  padding: 2rem 0;
}

rh-secondary-nav-container[expanded] > ul > li {
  border-top: 1px solid var(--rh-secondary-nav-divider-color);
}

rh-secondary-nav-container[expanded] > ul > li:last-of-type {
  border-bottom: 1px solid var(--rh-secondary-nav-divider-color);
}

rh-secondary-nav-container > [slot="logo"] {
  grid-area: logo;
  display: flex;
  align-items: center;
  height: 100%;
  max-width: var(--rh-secondary-nav-logo-width, 10rem);
  text-decoration: none;
  color: var(--rh-secondary-nav-font-color);
  font-size: var(--rh-secondary-nav-logo-font-size, 1rem);
  letter-spacing: 0.18px;
  line-height: var(--rh-line-height, 1.25rem);
  font-weight: 500;
  margin-left: 1rem;
}

rh-secondary-nav-container > [slot="nav"] {
  grid-area: nav;
}

rh-secondary-nav-cta > [slot="cta"] {
  grid-area: cta;
}

rh-secondary-nav-container > [slot="nav"],
rh-secondary-nav-container > [slot="cta"] {
  display: none;
}

rh-secondary-nav-container[expanded] > [slot="nav"] {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 2rem 1rem;
}

rh-secondary-nav-container[expanded] > [slot="cta"] {
  display: flex;
}

rh-secondary-nav-container[expanded] > [slot="nav"],
rh-secondary-nav-container[expanded] > [slot="cta"] {
  background-color: var(--rh-secondary-nav-subnav-background);
}


rh-secondary-nav-container a {
  box-sizing: border-box;
  text-decoration: none;
  color: var(--rh-secondary-nav-link-color);
}

rh-secondary-nav-container > [slot="nav"] > li > a,
rh-secondary-nav-dropdown > a {
  display: flex;
  align-items: center;
  height: max-content;
  color: var(--rh-secondary-nav-top-level-link-color);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1em;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  border-top: 3px solid transparent;
  transition: border-top-color 0ms ease-out;
}


rh-secondary-nav-container[expanded] > [slot="nav"] > li > a,
rh-secondary-nav-container[expanded] rh-secondary-nav-dropdown > a {
  color: var(--rh-secondary-nav-top-level-expanded-link-color);
}

rh-secondary-nav-container a:hover {
  text-decoration: underline;
  color: var( --rh-secondary-nav-link-hover-color);
}

rh-secondary-nav-container > a:hover,
rh-secondary-nav-dropdown > a:hover {
  text-decoration: none;
  color: var(--rh-secondary-nav-logo-hover-color);
}

rh-secondary-nav-container > [slot="nav"] {
  margin: 0;
  padding: 0rem;
  list-style: none;
}

rh-secondary-nav-container > [slot="nav"]> li {
  height: 100%;
}

rh-secondary-nav-menu:not([visible]) {
  display: none;
}

rh-secondary-nav-menu-section > [slot="header"] {
  font-size: 1rem;
  line-height: var(--rh-line-height);
  font-weight: 500;
  color: var(--rh-secondary-nav-font-color);
}

rh-secondary-nav-menu-section > h3 > a {
  color: var(--rh-secondary-nav-font-color);
  text-decoration: none;
}

rh-secondary-nav-menu-section > [slot="links"] {
  font-size: 1rem;
  line-height: var(--rh-line-height);
  font-weight: 400;
  color: var(--rh-secondary-nav-font-color);
}

rh-secondary-nav-menu-section > ul > li > a {
  color: var(--rh-secondary-nav-link-color);
  text-decoration: none;
}

rh-secondary-nav-menu-section > ul > li > a:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  rh-secondary-nav-container > [slot="logo"] {
    margin-left: 2rem;
  }

  rh-secondary-nav-container > [slot="nav"] {
    position: static;
  }

  rh-secondary-nav-container[expanded] > [slot="nav"] {
    padding: 2rem 2rem;
  }

  rh-secondary-nav-dropdown {
    height: 100%;
  }
}

@media screen and (min-width: 992px) {

  rh-secondary-nav-container {
    grid-template-areas: 'logo nav cta';
    grid-template-columns: max-content 1fr max-content;
  }

  rh-secondary-nav-container > [slot="nav"],
  rh-secondary-nav-container[expanded] > [slot="nav"] {
    grid-area: nav;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    padding: 0;
  }

  rh-secondary-nav-container[expanded] > [slot="nav"],
  rh-secondary-nav-container[expanded] > [slot="cta"] {
    background-color: transparent;
  }

  rh-secondary-nav-container > [slot="nav"] > li > a,
  rh-secondary-nav-dropdown > a {
    height: 100%;
    font-weight: 400;
    transition: border-top-color 250ms ease-out;
  }

  rh-secondary-nav-container > [slot="nav"] > li > a:focus,
  rh-secondary-nav-dropdown > a:focus {
    border-top-color: var(--rh-secondary-nav-brand-color);
  } 

  rh-secondary-nav-container > [slot="nav"] > li > a:hover,
  rh-secondary-nav-dropdown > a:hover {
    border-top-color: var(--rh-secondary-nav-brand-color);
    background: var(--rh-secondary-nav-subnav-background);
    color: var(--rh-secondary-nav-top-level-link-hover-color);
  }

  rh-secondary-nav-container > [slot="nav"] > li > a:active,
  rh-secondary-nav-dropdown > a[aria-expanded="true"],
  rh-secondary-nav-dropdown > a:active  {
    border-top-color: var(--rh-secondary-nav-brand-color);
    background: var(--rh-secondary-nav-subnav-background);
    color: var(--rh-secondary-nav-top-level-link-hover-color);
  }

  /* Reset the mobile styles */
  rh-secondary-nav-container[expanded] > ul {
    padding: 0;
  }
  
  rh-secondary-nav-container[expanded] > ul > li {
    border-top: none;
  }
  
  rh-secondary-nav-container[expanded] > ul > li:last-of-type {
    border-bottom: none;
  }

  rh-secondary-nav-container[expanded] a[aria-expanded="false"], 
  rh-secondary-nav-container[expanded] a[aria-expanded="false"],
  rh-secondary-nav-container[expanded] > [slot="nav"] > li > a, 
  rh-secondary-nav-container[expanded] rh-secondary-nav-dropdown > a {
    color: var(--rh-secondary-nav-top-level-link-color);
  }

  rh-secondary-nav-container[expanded] a[aria-expanded="true"], 
  rh-secondary-nav-container[expanded] a[aria-expanded="true"],
  rh-secondary-nav-container[expanded] > [slot="nav"] > li > a:hover, 
  rh-secondary-nav-container[expanded] rh-secondary-nav-dropdown > a:hover {
    color: var(--rh-secondary-nav-top-level-expanded-link-color);
  }

  rh-secondary-nav-container > [slot="cta"] {
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    height: 100%;
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1440px) {
  rh-secondary-nav-container > [slot="logo"] {
    margin-left: 4rem;
  }
  rh-secondary-nav-container > [slot="cta"] {
    margin-right: 4rem;
  }
}